
.even-full {
    display: flex;
    justify-content: space-between;
}

.hdr-choice {
    display: inline-block;
    width: 100%;
}

.ways-button {
    background-color: #27AE60;
    color: #fff;
    font-weight: 900;
    min-width: 400px;
}